.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 100%;
  background: #00000011;
}

.list {
  padding: 0;
  margin: 0;
}

.cell {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  position: relative;
}

.item {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: red;
  position: absolute;
  &.hidden {
    position: absolute;
    background: green;
    z-index: -1;
  }
}

.circle {
  border-radius: 50%;
}