@import 'src/styles/variables';

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  background-color: #FFF;
  padding: 40px 0;
  border-right: 8px dashed $accent-color;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.cell {
  width: $item-size;
  height: $item-size;
  margin-bottom: $item-size / 2;
  position: relative;
}

.item {
  display: block;
  width: $item-size;
  height: $item-size;
  line-height: $item-size;
  background-color: #CCCCCCCC;
  box-shadow: 0 0 10px 0 $accent-color;
  position: absolute;
  &.hidden {
    position: absolute;
    background-color: #00000008;
    box-shadow: none;
    border: none;
    z-index: 0;
  }
}

.circle {
  border-radius: 50%;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  .clear_button,
  .export_button,
  .import_label {
    display: block;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: $accent-color;
    }
  }
  .clear_button {
    background: url('../../assets/delete.svg') center center no-repeat;
    background-size: 50%;
  }
  .export_button {
    background: url('../../assets/export.svg') center center no-repeat;
    background-size: 50%;
  }
  .import_label {
    background: url('../../assets/import.svg') center center no-repeat;
    background-size: 50%;
  }
}

.import_input {
  display: none;
}