.canvas {
  width: 100%;
  background-color: azure;
  position: relative;
}

.item {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  box-sizing: border-box;
  &:hover {
    border: 2px solid #000;
  }
}

.circle {
  border-radius: 50%;
}

