@import 'src/styles/variables';

.canvas {
  width: 100%;
  position: relative;
}

.item {
  position: absolute;
  width: $item-size;
  height: $item-size;
  box-sizing: border-box;
  &:hover {
    border: $active-border;
  }
}

.circle {
  border-radius: 50%;
}

